navbar {
  overflow-y: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f6f6f6;
  color: black;
  font-weight: 600;
  font-size: 32px;
  padding: 0.4em 0 0.4em 0;
}

.logo {
  height: 7rem;
  align-items: flex-start;
  margin-left: 1.5rem;
}

.navbar-content {
  padding: 10px;
}

.menu {
  margin-top: 15px;
  padding-right: 1.5rem;
}
