navbar {
  overflow-y: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #041829;
  color: white;
  font-weight: 600;
  font-size: 32px;
  padding: 0.4em 0 0.4em 0;
}

.logo {
  height: 70px;
  align-items: flex-start;
}

.navbar-content {
  padding: 10px;
}

.menu {
  margin-top: 15px;
  padding-right: 1.5rem;
}
